<div *ngIf="tickerService.tickers.length">
    <h2>Tickers</h2>
    <ul class="Tickers">
        <div *ngFor="let ticker of tickerService.tickers">
            <button type="button" class="select-button" (click)="selectTicker(ticker.ticker)">
                {{ticker.ticker}}
            </button>
        </div>
    </ul>
</div>

<div class="Center">
    <h2>Selected Ticker</h2>
    <div *ngIf="dailyDisplay.date!=''">
        <label class="day">Date: {{dailyDisplay.date}}</label>
    </div>
    <div *ngIf="dailyDisplay.ticker!=''">
        <label style="color:rgb(0, 221, 0)">{{dailyDisplay.ticker}}</label>
    </div>
    <div *ngIf="dailyDisplay.close!=''">
        <label>Closing price: </label>
        <label style="color:rgb(0, 221, 0)">{{dailyDisplay.close}}</label>
    </div>
</div>